body, input, select, option, textarea {
    font-size: 20px;
}

h1, h2, p {
    width: fit-content;
    margin: 15px auto;
}

form {
    width: 75%;
    margin: 30px auto;
    border: 2px solid black;
}

form#salaryCalc {
    border: none;
}

form div, fieldset {
    width: fit-content;
    margin: 10px auto;
}

table {
    width: fit-content;
    margin: 0 auto;
}

td {
    width: fit-content;
}
output#incomeRes {
    color: red;
}

fieldset input {
    margin: 10px auto;
}
